// paper & background
$paper: #ffffff;
//Colores
$dark500: #424242;
$dark600: #131212;
$blue: #5fd0df;
$blueBackground: #edfbfd;
$blueDark: #54b7c5;
$blueDashboard: #ebf4ff;
$blueIcons: #4daebb;
$greyBackground: #fafafa;
$greyStroke: #eff0f8;
$white: #fdfdfd;
$white50: #fcfcfe;
$white100: #efefef;
$yellow: #f59323;
$yellowBackgroundIcons: #fff1e0;
